<div>
  <div *ngIf="currentUser.id" class="edit-form">
    <h4>User</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentUser.name"
          name="name"
        />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteUser()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateUser()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser.id">
    <br />
    <p>Cannot access this User...</p>
  </div>
</div>
