<p>client-assignments works!</p>
<div class="col-md-6">
  <h4>Current Assignments</h4>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let assignmentsDisplay of assignmentsDisplays; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveAssignment(assignmentsDisplay, i)"
    >
      <a routerLink="/assignments/{{assignmentsDisplay.id}}" id="assignment-{{assignmentsDisplay.id}}">>
        {{assignmentsDisplay.title}}
      </a>
    </li>
  </ul>
</div>
