<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <table mat-table [dataSource]="openings" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- client Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef> client </th>
      <td mat-cell *matCellDef="let element"> {{element.client}} </td>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- startDate Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> startDate </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <!-- rate Column -->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> rate </th>
      <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <!--  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--    &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--          The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--    &lt;!&ndash; id Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="id">-->
<!--      <th mat-header-cell *matHeaderCellDef> id </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; client Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="client">-->
<!--      <th mat-header-cell *matHeaderCellDef> client </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.client}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; title Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="title">-->
<!--      <th mat-header-cell *matHeaderCellDef> title </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.title}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; startDate Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="startDate">-->
<!--      <th mat-header-cell *matHeaderCellDef> startDate </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->


    <div class="col-md-6">
    <h4>Openings List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let opening of openings; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveOpening(opening, i)"
      >
        <a routerLink="/openings/{{opening.id}}" id="opening-{{opening.id}}">>
          {{opening.title}}
        </a>
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllOpenings()">
      Remove All
    </button>
    <a routerLink="/opening/add">
      <button class="m-3 btn btn-sm btn-danger">
        Add Opening
      </button>
    </a>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentOpening.id">
      <h4>Opening</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentOpening.title }}
      </div>

      <a class="badge badge-warning" routerLink="/openings/{{ currentOpening.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentOpening">
      <br />
      <p>Please click on a Opening...</p>
    </div>
  </div>
</div>
