<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Openings List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let opening of openings; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveOpening(opening, i)"
      >
        <a routerLink="/openings/{{opening.id}}" id="opening-{{opening.id}}">>
          {{opening.title}}
        </a>
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllOpenings()">
      Remove All
    </button>
    <a routerLink="/opening/add">
      <button class="m-3 btn btn-sm btn-danger">
        Add Opening
      </button>
    </a>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentOpening.id">
      <h4>Opening</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentOpening.title }}
      </div>

      <a class="badge badge-warning" routerLink="/openings/{{ currentOpening.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentOpening">
      <br />
      <p>Please click on a Opening...</p>
    </div>
  </div>
</div>
