<div>
  <div *ngIf="currentClient.id" class="edit-form">
    <h4>Client</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentClient.name"
          name="name"
        />
      </div>
      <table>
        <tr>
          <td>
            <app-client-assignments></app-client-assignments>
          </td>
          <td>
            <app-client-openings></app-client-openings>
          </td>
        </tr>
      </table>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteClient()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateClient()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentClient.id">
    <br />
    <p>Cannot access this Client...</p>
  </div>
</div>
