<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Roles List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let role of roles; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveRole(role, i)"
      >
        <a routerLink="/roles/{{role.id}}" id="status-{{role.id}}">>
          {{role.title}}
        </a>
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllRoles()">
      Remove All
    </button>
    <a routerLink="/role/add">
      <button class="m-3 btn btn-sm btn-danger">
        Add Role
      </button>
    </a>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentRole.id">
      <h4>Role</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentRole.title }}
      </div>
      <a class="badge badge-warning" routerLink="/roles/{{ currentRole.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentRole">
      <br />
      <p>Please click on a Role...</p>
    </div>
  </div>
</div>
